.nav{
    position: absolute;
    right: 10px;
    &-list{
        display: flex;
        list-style-type: none;
        &__el{
            margin: 0 5px;
            .btn-lang{
            padding: 5px;
            background-color: $bleu-clair;
            border-radius: 10px;
            width: 45px;
            height: 45px;
            text-align: center;
            border: none;
            }
        }
    }
}
.btn-lang:hover{
    background-color: $blanc;
}

.lang {
    display: none;
}

.lang--en,
.lang--fr {

}
