body {
  font-family: "Baloo 2", sans-serif;
  font-size: $size-text;
  line-height: 1.4;
  color: $blanc;
  background-color: $bleu-bg;
}
.section__container{
  display: grid;
  margin: 0 20px;
  //grid-template-columns: repeat(16, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}
.intro{
  height: 100vh;
  display: flex;
  flex-direction: column;

  .image-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    margin: 0 auto;

    img {
        display: block;
        width: 100%;
        position: relative;
        z-index: 0;
    }

    &::before {
        content: '';
        position: absolute;
        top: 90%;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(to top, rgba(11, 37, 69, 1), rgba(11, 37, 69, 0));
        z-index: 1;
    }
}


}
.nav{
  &-list{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    &__el{
      margin: 0 5px;
      .btn-lang{
      padding: 5px;
      background-color: $bleu-clair;
      border-radius: 25%;
      width: 40px;
      height: 40px;
      text-align: center;
      border: none;
      }
    }
  }
}
.title{
  grid-column: 1 / -1;
  font-size: 50px;
  font-family: "Teko", sans-serif;

  &--princ{
    font-size: 70px;
    .line{
      display: block;
      text-align: center;
      line-height: 1.1;
    }
  }
  &--sec{
    margin: 0;
    
  }
}
.text{
  grid-column: 1 / -1;
  &--intro{
    text-align: center;
    font-size: 25px;
    margin: 125px 0 0 0;
    .light-blue{
    color: $bleu-clair;
    }
  }
}
.comp {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title{
    margin-left: 10px;
    color: #0B2545;
    font-weight: 1800;
  }
  &__text{
    color: #0B2545;
  }
  .container {
    display: flex;
    flex-direction: column;

    width: 100%;

    .comp__el {
      display: flex;
      flex-direction: column;
      background-color: $bleu-clair;
      margin: 20px 0;
      padding: 20px;
      border-radius: 5%;
      width: 90%;
      max-width: 600px;

      .comp__content{
        display: flex;
        align-items: baseline;
      }

      .svg-logo {
        width: auto;
        height: 80px;
        fill: #0B2545;
      }

      .comp__title {
        font-size: 30px;
        margin-bottom: 10px; // Espace entre le titre et le texte
        text-align: center;
      }
    }
  }
}
